.collapse
{
    margin-top: 20px;
    width: 100%;
}

.collapse .hidden
{
    display: none;
}


.collapse .collapse__header
{
    background-color: var(--main-color);
    border-radius: 10px;    
    color: white;
    display: flex;
    justify-content: space-between;

    padding: 5px 10px;

    z-index: 10;
    position: relative;
}

.collapse .collapse__header h2
{
    line-height: 18.54px;
    font-size: 13px;
    color: white;
}

.collapse .collapse__header .collapse__header__switch
{

}

.collapse .collapse__header .collapse__header__switch svg
{
    width: 9px;
    color: white;
}   



.collapse .collapse__description
{
    background-color: #F7F7F7;
    font-size: 18px;
    padding: 40px 20px 0 20px;
    margin-top: -15px;

    height: 250px;

    border-radius: 10px;
    line-height: 25.67px;

    overflow-y: auto;
}

@media screen and (min-width: 576px) {

    .collapse .collapse__header
    {
        padding: 15px 20px;
    }

    .collapse .collapse__header h2
    {
        line-height: 25.67px;
        font-size: 18px;
    }

    .collapse .collapse__header .collapse__header__switch svg
    {
        width: 16px;
    }   
}