.flex_container
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.left
{
    display: flex;
    flex-direction: column;
}

.left
{
    display: flex;
    flex-direction: column;
}



#home .description
{
    margin-top: 30px;
}

#home #title
{
    font-size: 36px;
}

#home #location
{
    font-size: 18px;
}

#home #tags
{
    margin-top: 20px;
    display: flex;
    justify-content: left;
    gap: 10px;
}

#home #tags .tag
{
    font-size: 14px;

    height: 25px;
    width: 115px;
    left: 0px;
    top: 0px;
    border-radius: 10px;

    background-color: var(--main-color);
    color: white;

    text-align: center;
    line-height: 2;
}




#home #author
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
#home #author #authorName
{
    text-align: right;
    font-size: 18px;
}
#home #author #authorPicture
{
    width: 64px;
    height: 64px;
    overflow: hidden;

    border-radius: 100%;
}
#home #author #authorPicture img
{
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
}


#home #rating
{
    margin-top: 24px;
    display: flex;
    gap: 10px;
}
#home #rating svg
{
    width: 30px;
    height: 30px;
    fill: #E3E3E3;
}
#home #rating .rateActive svg
{
    fill: var(--main-color);
}


